.product{
    border-bottom:1px solid lightblue;
    padding-bottom:20px;

}
.product h4{
    text-transform: uppercase;
    color:salmon;

}
.product h5{
    font-size:15px;
    color:orange;

}
.product button{

}